/* color*/
/* 
#F6F5A2
#E1E089
rgb(225, 224, 137)
#C2C165
#C6D27B
rgb(198, 210, 123)
#DAE591
#A8B65A
#89973C


#EFEC4F
#DBD836
#448BA5
#144A6A
#04375A


#80ffdb
#72efdd
#64dfdf
#56cfe1
#48bfe3
#4ea8de
#5390d9
#5e60ce
#6930c3
#7400b8

#FEC5BB
#FCD5CE
#FAE1DD
#F8EDEB
#E8E8E4
#D8E2DC
#ECE4DB
#FFE5D9
#FFD7BA
#FEC89A

#abc4ff
#b6ccfe
#c1d3fe
#ccdbfd
#d7e3fc
#e2eafc
#edf2fb

#f0efeb
#bee1e6
#e2ece9

#e9ff70
*/

@media (max-width: 38em) {
  /*  */

  body #social {
    left: 0;
  }

  body #social svg {
    padding: 1rem 0.75rem;
  }

  body #wrap .panel h2 span.word {
    padding: 40px 0px;
    margin: -40px 0;
  }

  body #wrap .panel .thumb p {
    top: -40px;
  }

  body #wrap .panel h2 {
    font-size: 3.2rem;
  }

  body #wrap p.subhead {
    font-size: 2rem;
  }

  body #wrap h1 {
    font-size: 4.8rem;
  }

  .img-1 {
    width: 35rem;
    top: -10%;
    left: -30%;
    transform: translateY(calc(250px - (var(--progress) * 450px)));
  }

  .container-1 .ticket-card {
    width: 25rem;
    height: 10rem;
    margin-bottom: 0.4rem;
  }

  .container-1 .ticket-card .pic {
    width: 20rem;
    height: 10rem;
  }

  .container-1 .ticket-card .ticket-social {
    left: 3rem;
    width: 9rem;
    height: 3.2rem;
    border-radius: 4rem;
  }

  .container-1 .ticket-card:after,
  .container-1 .ticket-card:before {
    bottom: -0.5rem;
    left: 1.6rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    background-color: #e6e5e1;
  }

  .container-1 .ticket-card h2 {
    right: 6.5rem;
    font-size: 3rem;
  }

  body #wrap h1 span.word {
    transform: translateY(calc((var(--progress) * 450px) - 200px));
  }

  body #find {
    background-size: 150%;
    /* transform: translateY(calc((var(--progress) * 250px) - 200px)); */
  }

  .heading-secondary {
    margin-bottom: 2.4rem;
  }

  body #wrap {
    padding: 2.5vh 50px 6vh;
  }
}

@media (max-width: 25em) {
  .img-1 {
    width: 30rem;
    top: 0;
    left: -38%;
  }

  body #wrap h1 {
    font-size: 3.8rem;
  }
}
